/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box img {
    width: 100%;
    height: 1004px;
    object-fit: fill;
}

.thumbnails img {
    width: 400px;
    height: 200px;
    object-fit: fill;
    display: block;
}

button {
    border: none;
}

/* UTILITIES */

.hidden {
    display: none;
}

.display {
    display: block;
    width: 100%;
}


/* MAIN */

.container {
    width: 1800px;
    display: flex;
    margin: 0 auto;
    margin-top: 300px;
    justify-content: center;

}

.box {
    position: relative;
    display: flex;
    flex-grow: 1;

}

.thumbnails {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.arrowhead-selector {
    font-size: 65px;
    background-color: rgba(162, 166, 164, 0.556);
    color: black;
    aspect-ratio: 1;
    width: 60px;
    display: flex;
    border-radius: 999px;
    justify-content: center;
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
}

#arrow-up {
    top: 50px;
}

#arrow-down {
    align-items: end;
    bottom: 0px;
}

.not-active {
    filter: brightness(0.4)
}

.active {
    border: 2px solid red;
    filter: brightness(1);
}