/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    /* display: none; */
}

/* UTILITIES */

.display{
    display:block;
}


/* MAIN */

.container{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

